.add-section {
	text-align: center;
	margin-top: 40px;
}

.centered-heading {
	font-size: 45px;
	margin-bottom: 20px;
	margin-top: 60px !important;
}

.centered-photo {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 426px) {
	.centered-heading {
		font-size: 24px !important;
		margin-bottom: 15px !important;
	}
	h2 {
		font-size: 25px;
	}
}
/* AddSection.css */

/* AddSection.css */

.add-section {
	opacity: 0;
	transform: translateY(50px); /* Change translateY value to -50px */
	transition: opacity 1s ease, transform 1.5s ease;
}

.add-section.visible {
	opacity: 1;
	transform: translateY(0);
}
